/* Paleta de Cores #000000, #9e9e9e, #e0e0e0, #f5f5f5, #333333;  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

* {
    font-family: "Poppins";
}

.nav-link {
    color: #000000;
}

.nav-link {
    color: #000000;
}

#logotipo {
    width: 60px;
}

#deforma {
    font-family: "Merienda";
    color: #9e9e9e;
}

.btn {
    background-color: #f5f5f5;
}

.btn:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 3px 3px 0 #333333;
}

.card-img-top{
    width: 253px;
    height: 250px;
    flex-wrap: wrap;
}

.card{
    height: 350px;
    border: solid 3px #000000;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #333333;
    background-color: #f5f5f5;
}

.cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}

.icons{
    text-align: center;

}
 
.card-title{
    text-align: center;
    
}

.cabecalho{
    text-align: center;
    padding: 20px;
}

